.resetWrapper {
  background: url("../../data/img/header/header-bg.jpg") center center/cover
    no-repeat;
  height: 89vh;
  padding: 50px;
}

.resetHeader {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #212121;
}

.formWrapper {
  margin: 0 auto;
  padding: 30px;
  font-family: var(--source-sans);
  border-radius: 8px;
  background-color: #fff;
  width: 400px;
}
