.order {
  height: 400px;
  background: url("../../data/img/order/orderBg.jpg") center center/cover
    no-repeat;
  padding: 91px 75px;
}

.orderHeader {
  font-weight: 900;
  font-size: 57px;
  color: #ffffff;
}

.orderBtn {
  display: block;
  width: 233px;
  height: 60px;
  margin: 62px auto;
  background: linear-gradient(93.41deg, #f17228 -5.63%, #f15e28 100.8%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24),
    0px 14px 32px rgba(255, 178, 14, 0.29);
  border-radius: 8px;
  border: none;
  font-family: var(--source-sans);
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.btnChevron {
  font-size: 14px;
  margin-left: 10px;
}
