.carousel {
  position: relative;
}

.itemsContainer {
  overflow: hidden;
}

.itemsWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 34px;
  padding: 80px 0;
  list-style: none;
  transition: 1s all;
}

.fullList {
  flex-wrap: wrap;
  gap: 0;
  transition: none;
}

.viewAll {
  font-family: var(--source-sans);
  font-weight: 700;
  font-size: 18px;
  color: #ffb30e;
  cursor: pointer;
}

.carouselItem {
  transition: 1s all;
}

.itemImg {
  border-radius: 100%;
  width: 187.7px;
}

.itemName {
  font-family: var(--source-sans);
  margin-top: 26px;
  font-weight: 700;
  font-size: 22px;
  color: #424242;
}