.footer {
  /* height: 936px; */
  background-color: #212121;
  padding: 99px 69px;
}

.footerHeader {
  font-weight: 700;
  font-size: 22px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 24px;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}
.city {
  width: 12%;
}

.link {
  font-family: var(--source-sans);
  font-weight: 400;
  font-size: 18px;
  color: #f5f5f5;
  text-decoration: none;
  margin-top: 16px;
}

.divider {
  height: 4px;
  background-color: #424242;
  border-radius: 10px;
  margin: 99px 0;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
}

.companyWrapper,
.contactWrapper,
.legalWrapper {
  display: flex;
  flex-direction: column;
}

.feedbackHeader {
  font-weight: 700;
  font-size: 18px;
  color: #bbbbbb;
  text-transform: uppercase;
  text-align: left;
}

.socialWrapper {
  margin-top: 30px;
}

.social {
  font-size: 24px;
  margin-right: 16px;
  color: #424242;
}

.feedbackDescr {
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 18px;
  margin-top: 30px;
  color: #bbbbbb;
}

.feedbackForm {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.feedbackInput {
  padding: 7px 0px 8px 47px;
  width: 60%;
  height: 60px;
  background: #424242;
  border-radius: 8px;
  border: none;
  font-family: var(--open-sans);
  color: #ffffff;
}

.feefbackInput::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #adadad;
}

.envelope {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 24px;
  color: #adadad;
}

.feedbackBtn {
  width: 133px;
  height: 60px;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24),
    0px 14px 32px rgba(255, 178, 14, 0.29);
  font-family: var(--source-sans);
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  border-radius: 8px;
  border: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-family: var(--source-sans);
  font-weight: 400;
  font-size: 15px;
  color: #f5f5f5;
}

.copyrightBy,
.madeBy {
  font-weight: 700;
}

.heart {
  color: #FDBC30;
}