.popular {
  padding: 80px 0;
  height: 765px;
}
.popularHeader {
  font-family: var(--source-sans);
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  text-align: center;
  color: #212121;
}
